*{
  margin: 0;
  padding: 0;
  font-family: puppins;
}
.col-font {
  color: white;
}

.pad-top {
  padding-top: 80px;
}

.ali-cen {
  text-align: center;
}

.mar-top {
  margin-top: 40px;
}

.pad-top-min {
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown .dropdown-menu {
    display: none;
  }

  .dropdown:hover .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

.pad-bot {
  padding-bottom: 40px;
}

.image-list {
  list-style-type: none;
  /* Remove default list style */
  padding-left: 0;
  /* Remove default left padding */
}

.image-list li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}

.image-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}

/* Set background images for list items */
.image-list li:nth-child(1):before {
  background-image: url('/img/check.png');
}

.image-list li:nth-child(2):before {
  background-image: url('/img/check.png');
}

.image-list li:nth-child(3):before {
  background-image: url('/img/check.png');
}

.image-list li:nth-child(4):before {
  background-image: url('/img/check.png');
}

.image-list li:nth-child(5):before {
  background-image: url('/img/check.png');
}

.image-list li:nth-child(6):before {
  background-image: url('/img/check.png');
}

.padd {
  padding: 40px;
}

.in-main {
  width: 80%;
  border: 2px solid black;
  border-radius: 20px 150px 0px 150px;
  padding: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.publish-1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  /* Adjust the maximum width as needed */
}

.para-edit {
  background-color: rgb(197, 4, 4);
  color: white;
  text-align: center;
  border-radius: 12px;
  border-top: 10px solid rgb(139, 4, 4);
}

.size {
  color: rgb(190, 7, 7);
}

.lead {
  font-size: 16.px;
}

.card {
  border: 0;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 18px;
}

.card-body h3 {
  color: #000;
  align-item: left;
  font-weght: 600;
  margin: 40px 0px 0px 0px;

}

.cust_card_btn_div {
  margin: 0px 0px 50px;

}

.cust_card_btn {
  color: #fff;
  Background: #FFB703;
  padding: 16px 40px;
  position: absolute;
  right: 0px;
}

.card-body span {
  background: #FFB703;
  border-radius: 4px;
  padding: 10px 15px;
  color: #fff;
  position: relative;
  float: right;
  margin-bottom: 50px;

}

@media (max-width: 768px) {

  /* Styles for smaller screens */
  .testimonial h2 {
    font-size: 24px;
  }

  .testimonial .items .card {
    margin: 0 auto;
    width: 90%;
  }

  .hidden {
    display: none;
  }

  .mar-bot {
    margin-left: 40px;
    margin-right: auto;
  }
}

.mar-bot {
  margin-bottom: 20px;
}

.str-2 {
  margin-left: 25px;
  width: 350px;
  margin-top: -10px;
}

.str-3 {
  padding-top: 130px;
  width: 300px;
  margin-left: 60px;
  margin-top: -35px;
}

.str-4 {
  margin-top: -350px;
}

.str-5 {
  margin-top: -120px;
}

@media (max-width: 768px) {
  .str-2 {
    margin-left: -5px;
  }

  .str-4 {
    margin-top: -300px !important;
    margin-bottom: 100px;
  }

  .str-5 {
    margin-top: -10px !important;
  }

  .str-3 {
    margin-left: -5px;
    margin-top: 20px;
  }
}

.pad-left {
  padding-left: 30px;
}

.fa-brands {
  font-size: 24px;
}

.con-list {
  list-style-type: none;
  padding-left: 100px;
  padding-bottom: 20px;
}

.Potential {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: #000;
  border-radius: 40px;
}
.carousel-control-prev-icon{
  margin-right: 50px;
}
.carousel-control-next-icon{
  margin-left: 70px;
}
.para-pad-r{
  padding-right: 50px;
}
.sty-test{
  font-size: 45px;
  color: rgb(5, 5, 150);
}
.l-btn{
  background-color:#FFB703;
  color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}
.l-btn-2{
  background-color:rgb(0, 0, 0);
  color: white;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}
.l-btn-w{
  background-color:white;
  color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.image-list {
  list-style-type: none; /* Remove default list style */
  padding-left: 0; /* Remove default left padding */
}

.image-list li {
  margin-bottom: 10px; 
  padding-left: 30px; 
  position: relative;
}

.image-list li:before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  background-size: cover;
}

/* Set background images for list items */
.image-list li:nth-child(1):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(2):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(3):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(4):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(5):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(6):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(7):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(8):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(9):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(10):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(11):before { background-image: url('/img/check-removebg-preview.png'); }
.image-list li:nth-child(12):before { background-image: url('/img/check-removebg-preview.png'); }

.foot-head, .foot-para{
  color: white;
}
.foot-para{
  font-size: 18px;
  font-weight: 500;
}
.foot-head{
  font-weight: bolder;
}
.image-list{
  padding-top: 40px;
  padding-bottom: 20px;
}
.image-list .list-foot{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.help{
  display: inline;
  color: white;
  padding-top: 300px;
}
    @media screen and (max-width: 768px) {
   .touch {
  text-align:center;
  display: block;
  padding-top: 5px;
}
.foot-head{
    font-size:25px;
}
}
.start{
  background-color:#ffb703;
  padding: 10px;
  margin-left: 20px;
  color: white;
  font-weight:700 ;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
}
.start:hover{
  text-decoration: none;
  color: #ffb703;
  background-color:white ;
}
.get-touch{
  background-color: black;
  text-align: center;
}
.foot-touch{
  padding: 15px;
  color: white;
  text-decoration: none;
}
.foot-touch:hover{
  text-decoration: none;
  color: orange;
}
.get-touch{
  padding: 15px;
  border-bottom:1px solid white;
}

.letf-pad{
    padding-left:100px;
}
@media screen and (max-width: 768px) {
.letf-pad {
  padding-left:30px;
}
.d-cent{
    margin-left:50px;
    padding-bottom:20px
}

}
.quick{
    color:white;
}
.get-link{
    text-align:center;
    background-color:black;
    padding:15px;
    padding-bottom:30px;
    border-bottom:1px solid white;
    
}
.img-index{
    position:absolute;
    right: -120px;
    z-index:11;
    bottom:0;
}
form{
  background-color: #000;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}
input {
  width: 242px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px; /* Add space at the top */
  margin-bottom: 10px; /* Add space at the bottom */
}

input[type="submit"] {
  background-color: rgb(7, 7, 121);
  color: white;
}
.foot-img{
  position: absolute;
  right: 20px;
  top: 7875px;
}
.top{
  background-color: #FFB703;
  text-align: center;
  padding: 10px;
}
.col-h2{
  color:#FFB703;
  font-family: puppins;
  text-align: center;
  }
  .col-para{
    color:black;
  font-family: puppins;
  font-size: 20px;
  text-align: center;
  }
  .col-full{
    text-align: start;
  }
  .col-num{
    color: #ffb703;
    font-weight: 1000;
  }
  .col-hding{
    color:black;
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
  }
  .col-unpar{
    color:#FFB703;
    font-weight: 600;
    padding: 10px;
    border-bottom: 10px dotted #ffb703;
    border-left: 10px dotted #ffb703;
    border-right: 10px dotted #ffb703;
    border-radius: 12px;
  }
  .col-unpar2{
    color:#FFB703;
    font-weight: 600;
    padding: 10px;
    border-bottom: 10px dotted #ffb703;
    border-left: 10px dotted #ffb703;
    border-right: 10px dotted #ffb703;
    border-radius: 12px;
  }
  .col-s{
    padding-top: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-s{
    padding-top: 10px;
  }
  }